:root {
  --font: "Lato", sans-serif;
  --size: 14px;
  --spacing: 1.6;
}

/* Theme: Light */
html[data-theme="light"] {
  --color-bg: #FDFFFF;
  --color-text-primary: #111;
  --color-text-secondary: #666;
  --color-link: #aaaaaa;
}

/* Theme: Dark */
html[data-theme="dark"] {
  --color-bg: #111;
  --color-text-primary: #FDFFFF;
  --color-text-secondary: #bbb;
  --color-link: #5e5e5e;
}

/* Global styles */
html {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: var(--font);
  font-size: var(--size);
  line-height: var(--spacing);
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

#content {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Text sections */
#introduction,
#desc,
#contact {
  color: var(--color-text-secondary);
  margin: 1rem 0;
}

#contact p {
  margin: 0;
}

#contact a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s ease;
}

#contact a:hover {
  color: #007acc;
  text-decoration: underline;
}

#projects {
  margin-top: 2rem;
  color: var(--color-text-secondary);
}

#section-title {
  color: var(--color-text-secondary);
  margin-bottom: 0.5rem;
}

.project-item {
  margin-bottom: 1.2rem;
}

.project-title {
  color: var(--color-link);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-title a {
  color: var(--color-link);
  text-decoration: none;
}

.project-title a:hover {
  color: #007acc;
  text-decoration: underline;
}

.external-link {
  font-size: 0.85em;
}

.project-desc {
  margin-left: 1.5rem;
  font-size: 0.95em;
}

.project-tools {
  size: 12px;
  color: var(--color-text-secondary);
  margin-top: 2px;
}

.project-tools .tool-names {
  color: var(--color-link);
}


/* Toggle button */
#mode-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

#theme-icon {
  transition: color 0.3s ease;
}

html[data-theme="light"] #theme-icon.fa-moon {
  color: hwb(0 64% 36%);
}

html[data-theme="dark"] #theme-icon.fa-sun {
  color: #ffe6a8;
}

/* Animation styling */
#animation {
  white-space: pre;
}

#animation.animating {
  color: #007acc;
}

/* Mobile view */
@media (max-width: 768px) {
  #content {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    padding-top: 2rem;
  }

  body {
    font-size: 14px;
    padding: 1rem;
  }

  #mode-toggle {
    font-size: 1.5rem;
  }
}

